{% comment %}
  Call-to-action for the mandatory de.NBI user survey (de.NBI Service Guidelines).
  The survey link is specific to the SeqAn service within the CIBI center.
{% endcomment %}
<aside class="denbi-survey">
  <p class="denbi-survey-text">
    This is an approved <a href="https://www.denbi.de/">de.NBI</a> service.
    Please help us improve by taking our short user survey.
  </p>
  <a class="button button-lightgray denbi-survey-button"
     href="https://www.surveymonkey.de/r/denbi-service?sc=cibi&amp;tool=seqan">Take the survey</a>
</aside>
