<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange" style="width: 16px; height: 16px;">
              <use xlink:href="{{ 'assets/minima-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      <h4 style="color: #ffffff;margin-top: 15px;margin-bottom: 5px;">Imprint</h4>
      <a href="https://www.fu-berlin.de/redaktion/impressum/index.html">:de: Impressum</a><br>
      <a href="https://www.fu-berlin.de/en/redaktion/impressum/index.html">:gb: Legal Notice</a>
      </div>
      <div class="footer-col">
        <p style="margin-bottom: -5px;">{{ site.description | escape }}</p>
        <div class="various-links" style="transform: scale(0.8);">
          {%- include social.html social=site.minima.social_links -%}
        </div>
      </div>
    </div>

  </div>

</footer>
