/**
 * Site header
 */
.site-header {
  position: relative;
  width: 100%;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background-color: $background-color;
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.site-nav {
  float: right;
  border: none;
  background-color: inherit;

  label[for="nav-trigger"], #nav-trigger {
    display: none;
  }

  .nav-item {
    color: $text-color;
    &:not(:last-child) {
      margin-right: $spacing-unit * 0.5;
    }
  }

  @include media-query($on-medium) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.6;
    background-color: $background-color;
    border: 1px solid $border-color-01;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      cursor: pointer;
    }

    .menu-icon {
      float: right;
      width: 24px;
      height: 24px;
      line-height: 0;
      padding-top: 6px;
      text-align: center;
      padding-right: 6px;

      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
      }

      > svg path {
        fill: $border-color-03;
      }
    }

    #nav-trigger {
      ~ label[for=nav-trigger] .menu-icon {
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--%3E%3Cpath d='M96 160C96 142.3 110.3 128 128 128L512 128C529.7 128 544 142.3 544 160C544 177.7 529.7 192 512 192L128 192C110.3 192 96 177.7 96 160zM96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320zM544 480C544 497.7 529.7 512 512 512L128 512C110.3 512 96 497.7 96 480C96 462.3 110.3 448 128 448L512 448C529.7 448 544 462.3 544 480z'/%3E%3C/svg%3E");
        }
      }
      ~ .nav-items {
        clear: both;
        display: none
      }
      &:checked {
      ~ label[for=nav-trigger] .menu-icon {
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3C!--!Font Awesome Free v5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--%3E%3Cpath d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/%3E%3C/svg%3E");
        }
      }
        ~ .nav-items {
          display: block;
          padding-bottom: 5px;
          .nav-item {
            margin-left: 20px;
            padding: 5px 10px;
          }
        }
      }
    }

    .nav-item {
      display: block;
      padding: 5px 0;
      color: $text-color;
      line-height: $base-line-height;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: 30px 0 15px 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.various-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.various-links {
  @include relative-font-size(0.9375);
  color: $brand-color-dimmed;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color-dimmed;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  padding-bottom: 18px;
  text-align: center;
  border-bottom: 1px solid $border-color-01;
}

.post-meta {
  .bullet-divider { padding-inline: 15px }
  .meta-label { font-weight: 600 }

  .force-inline {
    display: inline;
    &::before {
      content: "•";
      padding-inline: 5px;
    }
  }
  .post-authors { margin-top: 3px }
}

.post-title,
.post-content h1 {
  margin-bottom: 10px;
  @include relative-font-size(2.625);
  font-weight: $base-font-weight;
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}

.comments-disabled-message {
  text-align: center;
  font-weight: 300;
}

.various-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    min-width: 32px;
    min-height: 32px;
    text-align: center;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid rgba(130,130,130,0.5);
      &:hover { border-color: lighten(rgba(130,130,130,0.5), 35%) }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  display: table;
  margin: 0 auto;
  list-style-type: none;
  li {
    float: left;
    margin: 0 3px;
    min-width: 45px;
    min-height: 45px;
    text-align: center;
    a {
      display: block;
      text-decoration: none;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
    a, div {
      min-width: 41px;
      padding: 10px 12px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      border: 1px solid transparent;
      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
      &.current-page {
        font-weight: bold;
      }
    }
  }
}



/**
 * Task-lists
 */

.task-list {
  margin-left: 0;
  padding-left: $spacing-unit * 0.6;
}

.task-list-item {
  list-style-type: none;
  &-checkbox {
    position: relative;
    margin-right: $spacing-unit * 0.3;
    margin-left: -$spacing-unit * 0.5;
    appearance: none;
    border: 8px solid $border-color-01;
    vertical-align: text-top;
    z-index: -1;
    &::after {
      position: absolute;
      top: -8px;
      left: -3px;
      width: 4px;
      height: 10px;
      content: "";
      border: solid transparent;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    &:checked::after { border-color: $border-color-03 }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
